@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
  color: white;
}

.button {
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  font-family: "Comic Neue", cursive;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Coiny;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  border-radius: 8px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom: 6px solid #000;
  border-left: 3px solid #000;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.05) 100%
    ),
    rgba(244, 237, 224, 0.61);
}

@media screen and (max-width: 600px) {
  .button {
    font-size: 32px;
  }
}

.text {
  color: rgba(244, 237, 224, 0.61);

  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Coiny;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 43.75% */
}

.bgImage {
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: top;
  background-size: cover;
}
